@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #content, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
        padding-top: 1.95rem;
    }
    article {
        font-size: 10rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .menu-links li {
        margin-top: 0.3rem; /* Giảm khoảng cách giữa các liên kết */
    }
    .menu-links a {
        font-size: 1rem;
        display: block; /* Đảm bảo mỗi liên kết chiếm một dòng riêng biệt */
        text-align: center; /* Căn giữa nội dung văn bản */
    }
    .section_pic-container {
        width: auto;
        height: 60vw;
        justify-content: center;
        margin: 2rem auto 2rem;
    }
    .section__pic-container {
        width: auto; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
        height: auto; /* Giữ tỷ lệ của ảnh */
        justify-content: center;
        align-items: center;
        margin: 0 1rem 2rem 2rem; 
    }
    .section__text__p2 {
        font-size: 1.5rem;
    }
    .section__text__p1 {
        font-size: 1.1rem;
        margin-top: 20px; /* Điều chỉnh giá trị này theo nhu cầu của bạn */
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    
    .about-containers {
        flex-direction: column; /* Để các phần tử xếp chồng lên nhau */
        align-items: center; /* Căn giữa các phần tử */
    }

    .details-container {
        width: 100%;
        max-width: none;
        box-sizing: border-box;
    }
}
